<%- include("headerWorker")-%>
<section>
  <div class="container-fluid" style="margin-bottom: 10px">
    <div class="row">
      <div class="col-8">
        <h1>Proizvodi</h1>
      </div>
      <div class="col-4">
        <button type="submit" name="submit" data-toggle="modal" data-target="#addModal" class="modalAddBtn addPprod">Dodaj proizvod</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dodaj proizvod</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/proizvod" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="productName" placeholder="Naziv proizvoda" name="productName">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Kategorija:</label>
              <select class="form-select" id="exampleFormControlSelect1" name="productCategory">
                <option>Tretmani i nega lica</option>
                <option>Tretmani i nega tela</option>
                <option>Tretmani i nega kose</option>
                <option>Šminka</option>
              </select>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Brend:</label>
              <input type="text" class="form-control" id="productBrand" placeholder="Brand proizvoda" name="productBrand">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Cena:</label>
              <input type="text" class="form-control" id="productPrice" placeholder="Cena proizvoda" name="productPrice">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Cena sa PDV-om:</label>
              <input type="text" class="form-control" id="productPrice" placeholder="Cena proizvoda sa PDV-om" name="productPricePDV">
            </div>
            <div class="mb-3">
              <label for="name" class="col-form-label">Izbaerite sliku:</label>
              <input class="form-control" type="file" id="file" name="productImage">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj proizvod</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <%products.forEach(product =>{%>
      <div class="col-lg-4 col-md-6">
        <div class="card" style="height:370px;">
          <div class="card-body">
            <h5 class="card-title" >Naziv proizvoda: <%=product.name%></h5>
            <form action="/proizvod/<%=product._id%>?_method=PUT" method="post" class="productCard" onsubmit="alert('Uspesno ste izmenili proizvod')">
              <input type="hidden" name="_method" value="PUT">
              <input type="hidden" name="pName" value="<%=product.name%>">
              <div class="form-group row">
                <label for="category" class="col-sm-4 col-form-label">Kategorija:</label>
                <div class="col-sm-8">
                  <select class="form-select" id="cat" name="updateCategory" value="">
                    <option selected><%=product.category%></option>
                    <option>Tretmani i nega lica</option>
                    <option>Tretmani i nega tela</option>
                    <option>Tretmani i nega kose</option>
                    <option>Šminka</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="brand" class="col-sm-4 col-form-label">Brend:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="brand" value="<%=product.brand%>" name="updateBrand">
                </div>
              </div>
              <div class="form-group row">
                <label for="price" class="col-sm-4 col-form-label">Cena:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="price" value="<%=product.price%>" name="updatePrice">
                </div>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Cena sa PDV:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="staticEmail" value="<%=product.pricePDV%>" name="updatePricePDV">
                </div>
              </div>
              <button type="submit" name="submit" class="prod">Izmeni proizvod</button>
            </form>
            <form  method="post" action="/proizvod/<%=product._id%>?_method=DELETE" onclick="return confirm('Da li ste sigurni da zelite da obrisete ovaj proizvod?')">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="prod">Obrisi proizvod</button>
            </form>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</section>
<%- include("footer")-%>
